*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;

}

main {
  width: 100vw;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: grid;

}


header nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 3px white;
  align-items: center;
  color: white;
  background-color: #0005;
  padding: 15px;
}

header nav a img {
  width: 150px;
  
}

.nav-links {
  
  display: flex;
  gap: 64px;
  margin-right: 30px;
}

.login, .menu {

  display: flex;
  gap: 16px;
  align-items: center;
}

main {

  width: 100vw;
  display: block;
}

body {
  background-color: white;
}

div {
  width: fit-content;
  position: relative;
}

input {
  background-color: transparent;
  height: 100%;
  width: 300px;
  border: white solid 1px;
  border-radius: 20px;
  color: white;
  padding: 8px 24px;
}

input::placeholder {
  color: white;
}

img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-30px, -50%);
  cursor: pointer;
}

#socialmedia {

  background-color: transparent;
  height: 100%;
  width: 300px;
  border: white solid 1px;
  border-radius: 20px;
  color: white;
  padding: 8px 24px;

}

#propertyforsale {

  background: #26282B;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  align-items: right;
  justify-content: center;
  margin: 0 5%;
  padding: 2% 5%;
  grid-row: 1/3;
  grid-column: 1/3;
  z-index: 999;
  grid-template-rows: auto 1fr;  
}

#propertyforrent {

  background: #26282B;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  align-items: left;
  justify-content: center;
  margin: 0 5%;
  padding: 2% 5%;
  grid-row: 1/3;
  grid-column: 1/3;
  z-index: 999;
  grid-template-rows: auto 1fr;  
}

#luxurydevelopment {

  background: #26282B;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  padding: 2% 5%;
  grid-row: 1/3;
  grid-column: 1/3;
  z-index: 999;
  grid-template-rows: auto 1fr;  
}

#piedepagina{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}
#footerSeccion1{
  background: #26282B;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  padding: 2% 5%;
  grid-row: 1/3;
  grid-column: 1/3;
  z-index: 999;
  grid-template-rows: auto 1fr;
}
#titulofooter1{
  font-size: 30px;
  line-height: 32px;
  grid-column: 1/2;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #DF991B;
  padding-top: 15px;
}

#titulofooter2{
  font-size: 40px;
  line-height: 40px;
  grid-column: 1/2;
  font-style: normal;
  font-weight: 100;
  font-size: 45px;
  color: #FFFFFF;
  align-self: start;
}
#miniForm{
  grid-row: 1/3;
  grid-column: 2/3;
  padding: 5px;
  max-width: 1000px;
  margin: 0 auto;
}
#nombreForm{
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  column-gap: 15px;
}
#nombreForm label{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #fff;
  font-family: 'brandon-grotesque', sans-serif;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
#nombreForm input{
  border-radius: 100px;
  border: 1px solid #DF991B;
  padding-top: 0;
  padding-bottom: 2px;
  font-size: 16px;
  color: #fff;
  padding-left: 25px;
  background-color: transparent !important;
  height: 55px !important;
}
#emailform{
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  column-gap: 15px;
}
#emailform label{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #fff;
  font-family: 'brandon-grotesque', sans-serif;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
#emailform input{
  border-radius: 100px;
  border: 1px solid #DF991B;
  padding-top: 0;
  padding-bottom: 2px;
  font-size: 16px;
  color: #fff;
  padding-left: 25px;
  background-color: transparent !important;
  height: 55px !important;
}
#botonregistro{
  display: flex;
  justify-content: end;
}
#botonregistro input{
  background-color: unset;
  color: #DF991B;
  padding: 5px 30px;
  border-radius: 100px !important;
  letter-spacing: 3px;
  border: 1px solid #DF991B;
  font-size: 17px;
  font-family: 'brandon-grotesque';
  font-weight: 390;
  margin-top: 0.6vw;
  height: 55px !important;
}
#footerSeccion2{
  padding: 15% 0 0 0;
  grid-row: 2/5;
  grid-column: 1/3;
  background: #000000;
}
#infofooter{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.infofooter1 a img{
  margin-left: 15%
}
.infofooter1 span a{
  display: flex;
  align-items: center;
  text-align: start;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 15%
}
.infofooter2 span a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  
}

.infofooter3 span a{
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  text-align: start;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 16%;
  justify-content:end;
}
.infofooter4 span a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

#copyright{
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  color: #FFF;
  margin: 1% 5%;
  border-top: 1px solid white;
  padding-top: 1%;
  background: #000000;
}

#mobile {
  height: 50px;
  width: 50px;
  display: none;
}

.nav-links {
  display: flex;
  gap: 64px;
  margin-right: 30px;
}

.login,
.menu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.menu img {
  width: 30px;
}

.bar {
  width: 3px;
  background-color: white;
  height: 16px;
}

.large {
  height: 32px;
}

.active {
  color: rgb(198, 198, 198);
}

main img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top -300px right 0;
}

@media screen and (max-width: 320px) {
  #logo {
    display: none;
  }
  #mobile {
    display: block;
  }

  .login {
    display: none;
  }

  .menu a,
  .menu div {
    display: none;
  }

  main img {
    object-position: center;
  }
}


#desktop {
  height: 100px;
  width: 100px;
  display: none;
}

.nav-links {
  display: flex;
  gap: 64px;
  margin-right: 50px;
}

.login,
.menu {
  display: flex;
  gap: 25px;
  align-items: center;
}

.menu img {
  width: 50px;
}

.bar {
  width: 3px;
  background-color: white;
  height: 16px;
}

.large {
  height: 65px;
}

.active {
  color: rgb(198, 198, 198);
}

main img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top -100px right 0;
}

@media screen and (max-width: 1200px) {
  #logo {
    display: none;
  }
  #desktop {
    display: block;
  }

  .login {
    display: none;
  }

  .menu a,
  .menu div {
    display: none;
  }

  main img {
    object-position: center;
  }
}



